*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    justify-items: center;
}
main{
    background-color: blue;
    width: 370px;
    padding: 50px 5px;
    justify-items: center;
    
}
.content{
    background-color: white;
    width: 350px;
    justify-items: center;
    border-radius: 5px;
    padding: 20px 0px;
}
.title h3{
    color: blue;
}
.text{
    width: 100%;
    height: 25px;
}
form{
    margin: 10px;
}
form label input{
    margin-right: 5px;
}
form label{
    font-weight: bold;
    font-size: 13px;
}
button{
    width: 100%;
    background-color: blue;
    color: white;
    height: 25px;
    border-radius: 5px;
}