header{
    display: flex;
}
.logo{
    background-color: red;
    width: 10%;
    height: 50px;
    color: white;
}
.logo h2{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0 10px;
}
.title{
    width: 100%;
}
.title h2{
    font-family: Arial, Helvetica, sans-serif;
}

.menu{
    list-style-type: none;
    display: flex;
    justify-content: center;
    background-color: steelblue;
    box-shadow: 0px -5px lightblue
}
.menu > li{
    padding: 10px;
    border-right:1px solid white ;
}
.menu > li > a{
    text-decoration: none;
    color: white;
}
.menu > li:hover{
    background-color: black;
}
.container{
    display: flex;
}
.left{
    width: 70%;
}
.content-right ul{
    list-style-type: none;
    font-weight: bold;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    border: 5px solid black;
    padding: 10px;
    margin-left: 10px;
}
